*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #262042;
    color: #d5d2d2;
}
#header{
    width: 100%;
    height: 100%;
    background-image: none;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 50px;
}
.header-text h2{
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}
.header-text h2 span{
    color: #ff004f;
}
/*--------DONATE BLOOD-----------*/
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.donor-left{
    margin-top: 158px;
    margin-left: -97px;
    flex-basis: 30%;
}
.donor-right{
    flex-basis: 60%;
    margin-top: 70px;
}
.blood-table-right{
    margin-top: 100px;
    margin-right: 233px;
}
.blood-table-right tr{
    font-weight: bold;
}
.blood-table-right td{
    text-align: center;
    padding: 8px;
    border-top: white;
}

.contact-right form{
    width: 50%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    border-radius: 15px;
}
#upload-btn {
    display: block;
    margin: 15px auto;
    width: 100%;
    border: 1px solid #262626;
    padding: 14px 15px;
    border-radius: 6px;
    text-decoration: none;
    background: #262626;
    transition: background 0.5s;
    color:#ababab;
}

form select{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ababab;
    border-radius: 15px;

}
form h2{
    justify-content: right;
    margin-left: 30%;
    margin-bottom: 10px;
    font-size: 40px;
}
form .btn2{
    border-radius: 8px;
    padding: 14px 60px;
    font-size:18px;
    margin-top: 20px;
    cursor: pointer;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
    transition: background 0.5s;
}

.btn.btn2{
    background: #ff004f;
}
.btn.btn2:hover{
    background: white;
    color: black;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}

/*------css for small screen------*/
nav .fa-solid.fa-xmark{
    display: none;
}
nav .fa-solid.fa-bars{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/lottie-000_1_1.gif);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav.fa-solid.fa-bars{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top:0;
        right: -200px;
        width:200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid.fa-xmark{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }

    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
